
.container{
  background-color: rgba(0, 0, 0, 0.23);
  margin-top: 50px;
  padding-bottom: 50px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}



.form-group label{
  font-size: 30px;
  font-weight: bold;


}

.form-group input{
background-color: rgba(0, 0, 0, 0.306);}
